# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

Cinder/LCTracker/xcode/build
Cinder/LCTracker/xcode/LCTracker.xcodeproj/xcuserdata/*.xcuserdatad
Cinder/LCTracker/xcode/LCTracker.xcodeproj/project.xcworkspace